<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body>
    {{ partial "site-header" . }}
    {{ if (.Params.calendar) }}
      {{ partial "calendar" . }}
      {{ partial "scripts" . }}
    {{ else }}
    <div id="wrapper">
      {{ partial "site-intro" . }}
      {{ partial "group-list" . }}
      {{ partial "site-sidebar" . }}
      {{ partial "site-footer" . }}
      {{ partial "scripts" . }}
      {{ if (.Params.mermaid) }}
        {{ partial "mermaid-scripts" . }}
      {{ end }}
    </div>
    {{ end }}
  </body>
</html>
