.blue-box {
    padding: 18px;
    background: #003F87;
    color: #F2F2F2;
    text-align: center;
}

.noshow {
    visibility: hidden;
}

.red-box {
    padding: 18px;
    background: #CE1126;
    color: #F2F2F2;
    text-align: center;
}

#.site-nav {
    color: #000;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}
