<main id="site-main">
  <article class="post">
    <header>
      <div class="title">
        <h1>{{ .Title }}</h1>
        {{ with .Description }}<p>{{ . }}</p>{{ end }}
      </div>
    </header>
    <div id="content">
      {{ .Content }}
    </div>
    <div id="content">
      <ul>
        {{ range .Pages.ByTitle }}
        <li>
          <a href="{{.Permalink}}">{{.Title}}</a>
          {{ with .Description }}<br /><em>{{ . }}</em>{{ end }}
        </li>
        {{ end }}
      </ul>
      {{ partial "back-link" . }}
      <div>
        <hr>
        {{ partial "page-meta-lastmod.html" . }}
      </div>
    </div>
  </article>
</main>
