<div class="contact-container">
  {{ if $.Page.Params.netlify }}
  <form name="{{ $.Page.Params.form_name }}-form" action="thank-you" netlify netlify-honeypot="always-empty" center width="300px">
  {{ else }}
  <form id="{{ $.Page.Params.form_name }}-form" action="//{{ $.Page.Params.emailService }}" method="post" center width="300px">
  {{ end }}
    <h5>{{ i18n "repliestext" $.Page.Params.contactanswertime }}</h5>
    <fieldset>
      <input placeholder="{{ with $.Page.Params.contactname }}{{ . }}{{ else }}Name{{ end }}" type="text" name="name"
        tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="{{ with $.Page.Params.contactemail }}{{ . }}{{ else }}Email{{ end }}" type="email" name="_replyto"
        tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="{{ with $.Page.Params.contactsubject }}{{ . }}{{ else }}Subject{{ end }}" type="text"
        name="_subject" tabindex="3" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="{{ with $.Page.Params.contactmessage }}{{ . }}{{ else }}Message{{ end }}" name="message"
        tabindex="4" required></textarea>
    </fieldset>
    <fieldset>
      <input type="hidden" name="_language" value="{{ $.Page.Params.contact_lang }}">
    </fieldset>
    <fieldset>
      <input type="hidden" name="_contact_page" value="This contact came from the form on {{ $.Page.Permalink }}">
    </fieldset>
    <fieldset>
      <button name="submit" class="button" type="submit" id="contact-submit" tabindex="5">{{ i18n "submit" }}</button>
    </fieldset>
  </form>
</div>
